@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Light Theme */
  :root {
    --color-green: 82 167 111;
    --color-black: 41 45 50;
    --color-gray: rgba(41, 45, 50, 0.1);
    --color-light-gray: rgba(208, 220, 207, 0.5);
    --color-lime: 247 250 244;
  }

  /* Dark Theme */

  .dark {
    --color-green: 82 167 111;
    --color-black: 247 250 244;
    --color-gray: rgba(247, 250, 244, 0.1);
    --color-light-gray: rgba(208, 220, 207, 0.5);
    --color-lime: 41 45 50;
  }
}
